langchain
langgraph
chromadb
fastapi
uvicorn
streamlit
pymupdf
python-dotenv
numpy
pandas
pydantic
httpx
langchain-community
langchain-text-splitters
langchain-chroma
tavily-python
langchain-ollama
langchain-groq
